<h1><%=@team[:name]%></h1>
<h2>Team Motto: <%=@team[:motto]%></h2>
<h2>Hero Name: <%=@team[:members][0][:name]%></h2>
<%="Hero Power: "+@team[:members][0][:power]%><br>
<%="Hero Biography: "+@team[:members][0][:biography]%><br>
<h2>Hero Name: <%=@team[:members][1][:name]%></h2>
<%="Hero Power: "+@team[:members][1][:power]%><br>
<%="Hero Biography: "+@team[:members][1][:biography]%><br>
<h2>Hero Name: <%=@team[:members][2][:name]%></h2>
<%="Hero Power: "+@team[:members][2][:power]%><br>
<%="Hero Biography: "+@team[:members][2][:biography]%><br>


